@page "/Ecommerce/DemoProduct"
<h2 class="text-primary">DemoProduct</h2>
<p>Favourites Total: @SelectedFavouriteCount</p>
<p>Last Selected Product: @LastSelectedProductName</p>
<div class="border p-2 mt-2" style="background-color:azure">
    <div class="row" >
        @foreach (var prod in products)
        {
            <_ProductComponent prod="prod" OnFavouriteUpdated="FavouriteCountUpdate"
                OnLastSelectedProductChange="LastSelectedProduct">
                <FirstFragement>#1</FirstFragement>
                <SecondFragement>#2</SecondFragement>
            </_ProductComponent>

        }
    </div>
</div>
@code {


    List<Products> products = new();
    private int SelectedFavouriteCount { get; set; } = 0;
    private string? LastSelectedProductName { get; set; } 
    protected override void OnInitialized()
    {
        products.Add(new()
            {
                Id = 1,
                Name = "Midnight Blossom",
                IsActive = false,
                Price = 23.43,
                ProductProperties = new()
            {
                    new ProductProp { Id = 1, Key = "Flavor", Value = "Rose"},
                    new ProductProp { Id = 2, Key = "Size", Value = "20oz"},
                    new ProductProp { Id = 3, Key = "Color", Value="Purple" }
            }
            });
        products.Add(new()
            {
                Id = 2,
                Name = "Blossom Lily",
                IsActive = true,
                Price = 12.39,
                ProductProperties = new()
            {
                new ProductProp { Id = 1, Key = "Flavor", Value = "Lily" },
                new ProductProp { Id = 2, Key = "Size", Value = "18oz" },
                new ProductProp {Id = 3,Key = "Color",Value = "White"}
            }
            });
    }
    protected void FavouriteCountUpdate(bool isSelected)
    {
        if (isSelected)
        {
            SelectedFavouriteCount++;
        }
        else
        {
            SelectedFavouriteCount--;
        }
    }
    protected void LastSelectedProduct(string productName)
    {
        LastSelectedProductName = productName;
    }
}
