@page "/Ecommerce/category"

@inject ICategoryRepository _categoryRepository
@inject IJSRuntime _jsRuntime

<_DeleteComponent></_DeleteComponent>
<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Category List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="/category/create" class="btn btn-primary form-control py-2">Add New Category</a>
    </div>
    <div class="col-12">
        @if (categories.Any())
        {
            <table class="table table-bordered table-striped ">
                <thead>
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var objCat in categories)
                    {
                        <tr>
                            <td>
                                @objCat.Name
                            </td>
                            <td>
                                <NavLink href="@($"/Ecommerce/category/edit/{objCat.Id}")" class="btn btn-primary">Edit</NavLink>
                            <button class="btn btn-danger m-2" @onclick="()=>HandleDelete(objCat.Id)">Delete</button></td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if(IsLoading)// loading GIF
            {
                <div class="text-center">
                    <img src="/images/loading.gif" alt="Loading Image"/>
                    </div>
            }
            else
            {
                //no records message
                <p> No Records found. </p>
            }
        }
    </div>
</div>

@code {

    private IEnumerable<CategoryDTO> categories { get; set; } = new List<CategoryDTO>();

    public bool IsLoading { get; set; } = true;

    private int DeleteId { get; set; } = 0;

    protected override async Task OnInitializedAsync()
    {
        await Task.Run(LoadCategories);
    }

    private void LoadCategories()
    {
        categories = _categoryRepository.GetAll();
        IsLoading = false;
    }

    private void HandleDelete(int id)
    {
        DeleteId = id;
        _jsRuntime.InvokeVoidAsync("ShowDeleteConfirmationModal");

    }
}
